.feed-form-header {
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
}

.feed-form {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 25px;
}

.feed-name-input {
    display: grid;
    border-radius: 5px;
    font-size: 25px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.date-input {
    display: grid;
    border-radius: 5px;
    font-size: 25px;
    grid-column:  2 / 3;
    grid-row: 3 / 4;
}

.submit {
    display: grid;
    border-radius: 10px;
    box-shadow: 2px 2px lightslategray;
    font-size: 25px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}